/* @import "tailwindcss"; */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

* {
    font-family: Comfortaa;
    margin: 0;
}

body {
    background-color: #3b4149;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.container {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 600px;
    margin: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #6943ff;
    color: white;
    padding: 0px 50px;
}

.input h1 {
    margin: 40px 0px;
    width: 600px;
}

.input input {
    background-color: #6943ff;
    border: 2px solid #b295ff;
    border-radius: 5px;
    color: white;
    font-size: 4rem;
    text-align: center;
    width: 125px;
    height: 85px;
}

.input button {
    padding: 10px 20px;
    margin: 30px 0px 40px 0px;
    border-radius: 5px;
    font-size: larger;
    border: none;
}

.input button:hover {
    box-shadow: 0px 0px 10px #b295ff;
}

.output {
    background-color: #1f2937;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px;
}

.output-section {
    background-color: #273549;
    border-radius: 5px 0px 0px 0px;
    width: 600px;
    margin: 25px auto;
}

.output-type {
    padding: 30px 0px 10px 0px;
    color: #ccc1ff;
}

.output-data {
    padding: 10px 0px 30px 0px;
    color: white;
}
