body {
    background: cornflowerblue;
    font-family: Comfortaa;
}

img {
    width: 10rem;
    margin-top: 0.5rem;
    border-radius: 7rem;
}

label {
    color: blue;
}

input {
    margin-top: 0.2rem;
}
