html,
body {
    background-color: lightgray;
    margin: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.grid-container {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
    grid-auto-flow: dense;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

.big {
    grid-row: span 2;
    grid-column: span 2;
}
