@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

body {
    text-align: center;
    font-family: "Comfortaa", cursive;
    background: linear-gradient(315deg, #6495ed, #edbc64);
    color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #efb0c9;
    margin-bottom: 10px;
}

#bday-age {
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-1:hover {
    background-image: url("https://media.giphy.com/media/SwIMZUJE3ZPpHAfTC4/giphy.gif");
}

#gift-img-2:hover {
    background-image: url("https://media.giphy.com/media/3oEdva9BUHPIs2SkGk/giphy.gif");
}

#gift-img-3:hover {
    background-image: url("https://media.giphy.com/media/l0HlHFRbmaZtBRhXG/giphy.gif");
}

#gift-img-4:hover {
    background-image: url("https://media.giphy.com/media/mi6DsSSNKDbUY/giphy.gif");
}

#gift-img-5:hover {
    background-image: url("https://media.giphy.com/media/l0Iy6nmyS5p7hIAso/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

