@font-face {
    font-family: font;
    src: url("font.ttf");
}

* {
    font-family: font;
    margin: 0;
    padding: 0;
    --bg: #1b244a;
}

.container {
    background-color: var(--bg);
    color: #ffffff;
    width: 575px;
    height: 375px;
    display: flex;
    justify-content: space-around;
}

.title {
    margin-top: 50px;
    font-family: Comfortaa;
    font-size: 32px;
    text-align: center;
}

.black {
    background-color: #000000;
    text-align: center;
    height: 120px;
    width: 155px;
    margin-top: 20px;
}

.add-score {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.btn {
    border: 2px solid #9aabd8;
    background-color: var(--bg);
    border-radius: 8px;
    padding: 10px;
    color: #9aabd8;
}

.btn:hover {
    text-shadow: 0px 0px 20px white;
}

.score {
    padding-top: 1.4rem;
    font-size: 5rem;
    color: #f94f6d;
}
